<section class="our-products" id="our-products">
  <div class="container">
    <h2 class="our-products-title">
      our <span class="our-products-title-span">products</span>
    </h2>

    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper swiper-wrapper -->
      <ul class="swiper-wrapper our-products-list" id="products-list">
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<script src="js/api.js"></script>
<script src="js/main.js"></script>
